<?xml version="1.0"?>
<!--
/**
 * Author: Valentyn Moraru
 * Wishlist ajax module
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="V-Moraru_Wishlist" >
        <sequence>
            <module name="Magento_Wishlist"/>
        </sequence>
    </module>
</config>
